body {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  color: #212121;
}

.container {
  width: 1170px;
  margin: 0 auto; /*выставить блок по центру*/
}

.main_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_panel {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 532px;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}

.site_nav {
  display: flex;
  justify-content: space-between;
  width: 294px;
}

.list {
  list-style: none;
}

.list a:visited {
  color: #2196f3; /* Цвет посещённой ссылки */
}

.list a:hover {
  color: #2196f3; /* Цвет ссылки при наведении на нее курсора мыши */
}

.list li {
}

.list a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact_nav ul {
  display: flex;
  justify-content: space-between;
  width: 333px;
  margin-left: 305px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact_nav a {
  color: #757575;
}

.mail_icon {
  margin-top: 5px;
}

.tell {
}

.hero {
}

.hero {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
  height: 400px;
  text-align: center;
  margin: 0 auto; /*выставить блок по центру*/
  background-color: #ccc;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/Header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
}

.hero_title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}

.button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  color: #fff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}
